body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.carousel-item {
  height: 100%;
  padding: 3em 0;
}

.carousel-item > div:first-of-type {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 2em;
}

.carousel-item > div > img {
  width: 300px;
  margin-left: 3.5rem;
}

.carousel-item > div:nth-of-type(2) {
  background-color: #ffffff21;
  height: 170px;
  width: 70%;
  margin: 0 auto;
  text-align: left;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.carousel-item > div:nth-of-type(2) > div > p {
  font-size: 18px;
  font-family: "League Spartan";
  font-weight: 300;
  padding-left: 1em;
  padding-top: 1em;
  line-break: auto;
}

.carousel-item > div:nth-of-type(2) > div {
  width: 50%;
}

.bi-hearts {
  padding-left: 1em;
}

.sidebar {
  position: absolute;
  left: -15vw;
  height: 100%;
  width: 15vw;
  transition: left 0.3s ease-in-out;
  background-color: lightgray;

  @media (max-width: 435px) {
    left: -35vw;
  }
}
.sidebar-toggle {
  position: absolute;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  z-index: 1;
  left: 90px;
  top: 60px;
  font-size: 18px;
}

.content {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: 100%;
  transition: left 0.3s ease-in-out;
  background-color: lightgray;
}
.sidebar.open {
  left: 0;
}
.content.open {
  left: 15vw;
}
